# Adresse du registre MLflow utilisé par l'API
MLFLOW_TRACKING_URI=http://127.0.0.1:5000

# Modèle chargé par l'API
MODEL_URI=models:/TelcoChurnXGBoost/2

# Modèle vérifié par le test d'intégration MLflow
TELCO_MODEL_URI=models:/TelcoChurnXGBoost/2